body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted none none none;
  height: 1px;
  width: 4%;
  border-width: 5px;
  border-color: grey;
}
h1{
  color: #66BFBF;
text-shadow: 1px 1px 2px pink;
}
h3{
  color: #66BFBF;
}
th{
  text-align: left;
}
